.dashboard {
  .dashboard-title {
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    text-align: center;
    color: #eee;
  }

  .form-group {
    display: grid;
    align-items: start;
    grid-template-columns: 15ch auto;
    label {
      color: $color-white;
    }

    &:last-child {
      margin-top: 24px;
      justify-content: right;
    }
  }
}
