.bio-section-title {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  text-align: center;
  color: #eee;
}

.dashboard {
  .form-group {
    display: grid;
    align-items: start;
    grid-template-columns: 15ch auto;
    label {
      color: $color-white;
    }

    &:last-child {
      margin-top: 24px;
      justify-content: right;
    }
  }
}

.social-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.social-item {
  position: relative;
  padding: 8px;
  background: white;
  border-radius: 4px;

  .add-social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 48px;
      font-weight: 400;
      color: $color-grey;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    & .form-group:last-child {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  div {
    i {
      margin-right: 4px;
    }
  }

  .btn-action {
    margin-top: 12px;
    display: flex;
    gap: 10px;

    button {
      border-radius: 4px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $color-black;
        &:hover {
          text-decoration: none;
          color: $color-black;
        }
      }
    }

    .btn-delete {
      background-color: var(--bs-danger);
      color: $color-white;
    }
  }
}
